/* Pagenavigation */
.paginator {
	font-size:1em;
	width:100%;
	margin-top: 10px;
	text-align: center;
}

.paginator table {
	border-collapse:collapse;
	table-layout:fixed;
	width:100%;
}

.paginator table td {
	padding:0;
	white-space:nowrap;
	text-align:center;
}

.paginator span a {
	display:block;
	padding:3px 0;
	color:#fff;
	text-decoration: none;
}

.paginator span strong, .paginator span a {
	padding:2px 6px;
}

.paginator span strong {
	color: black;
	font-size: 20px;
	font-style:normal;
	font-weight:bold;
	color: white; 
}

.paginator .scroll_bar {
	width:100%;
	height:20px;
	position:relative;
	margin-top:10px; 
}

.paginator .scroll_trough {
	width:100%;
	height:3px;
	background:#ccc;
	overflow:hidden;
}
.paginator .scroll_thumb {
	position:absolute;
	z-index:2;
	width:0; height:3px;
	top:0; left:0;
	font-size:1px;
	background:#363636;
}

.paginator .scroll_knob {
	position:absolute;
	top:-5px; left:50%;
	margin-left:-10px;
	width:20px; height:20px;
	overflow:hidden;
	background:url(../../../images/slider_knob.gif) no-repeat 50% 50%;
	cursor:pointer; cursor:hand;
}

.paginator .current_page_mark {
	position:absolute;
	z-index:1;
	top:0; left:0;
	width:0; height:3px;
	overflow:hidden;
	background:#666;
}

.fullsize .scroll_thumb {
	display:none;
}

.paginator_pages {
	width:600px;
	text-align:right;
	font-size:0.8em; 
	color:#808080;
	margin-top:-10px; 
}
